<h2><b>Node.js Configuration</b> </h2> 
<div class="summary description">

  <p>This is the API documentation for the
    <a href="https://github.com/lorenwest/node-config">node-config</a> open source module.
  </p>

  <h3>node-config Goals</h3>
  <ul>
    <li>Supports enterprise node deployment</li>
    <li>Easy to integrate</li>
    <li>Works with other config systems</li>
    <li>Simple to install</li>
    <li>Well tested</li>
  </ul>

  <h3>Development order:</h3>
  <ul>
    <li>X - Addition of tools directory</li>
    <li>X - Remove deps.js dependency</li>
    <li>X - YUI Documentation setup</li>
    <li>O - Goals statement</li>
    <li>O - Uses new NPM</li>
    <li>O - Underscore cleanup</li>
    <li>O - Config directory discovery</li>
    <li>O - Metadata object - one for each element</li>
    <li>O - Remembering original loaded files & configuration path</li>
    <li>O - Config change events (after initial load)</li>
    <li>O - Runtime config changes (exposure & persistence)</li>
    <li>O - Runtime configuration reporting (including machine name, ram, etc)</li>
    <li>O - Middleware component for exposing configuration</li>
    <li>O - Documentation hosting via github</li>
  </ul>

  <h3>Changes in v0.4.0</h3>
  <ul>
    <li>Default config directory loading</li>
    <li>Config change events</li>
    <li>Runtime config changes (dynamic & persistent)</li>
    <li>Runtime configuration reporting (including machine name, ram, etc)</li>
    <li>Middleware component for exposing configuration</li>
    <li>YUI Documentation included & exposed as a service</li>
    <li>Static documentation hosted on Dropbox (or github?)</li>
    <li>New directory structure w/tools, doc templates, src, deploy</li>
    <li>No extension of the underscore library</li>
  </ul>

  <h3>Checklist Before Release</h3>
  <ul>
    <li>Minimum necessary for node-monitor</li>
    <li>Follows coding conventions</li>
    <li>Full test suite</li>
    <li>Online demo</li>
    <li>Up & Running quickly</li>
    <li>Well documented</li>
    <li>Doesn't do everything, but hackable</li>
  </ul>

</div>
