<h2><b>Node.js Config</b> </h2> 
<div class="summary description">
  <p>This is the API documentation for the
    <a href="https://github.com/lorenwest/node-config">Node.js Config</a> open source application.
  </p>
  <p>Choose a module name from the list for more information.</p>
</div>
